---
layout: default
title: Home
---

{% comment %}Extract language code from page filename{% endcomment %}
{% assign filename = page.name %}
{% assign lang_code = filename | split: '.' | first %}

{% assign lang_folder = '/en/' %}
{% assign posts = site.posts | where_exp: "post", "post.path contains lang_folder" %}

<!--
{% assign lang_code = 'en' %}   Set this to the appropriate language code 
{% assign posts = site.posts | where_exp: "post", "post.path contains lang_code" %}
-->

<!--{% assign posts = site.posts | where_exp: "post", "post.path contains '/' | append: lang_code | append: '/'" %}-->
{% for post in posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<!-- Note: You may need to adjust the pagination logic to work with language-specific posts -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
